@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.material-icons-round {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons-round.md-18 {
  font-size: 18px;
}

.material-icons-round.md-dark {
  color: rgb(0, 0, 0);
}

body {
  background-color: black;
  color: #ccc;
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

a {
  color: hsl(290, 60%, 80%);
  cursor: pointer;
}

a:visited {
  color: hsl(290, 50%, 90%);
  cursor: pointer;
}

a:hover {
  color: hsl(290, 90%, 70%);
  cursor: pointer;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.content-wrap::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url('media/double-bubble-dark.png');
  background-repeat: repeat;
  z-index: -10;
}

header {
  display: flex;
  vertical-align: middle;
  margin: 0.5rem;
}

.top-menu {
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
}

.top-menu:hover, .top-menu:active {
  filter: invert(85%);
}

nav img {
  display: inline-block;
  width: 4rem;
  height: auto;
  filter: invert(85%);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

nav .menu-icon {
  position: absolute;
  left: 1.1rem;
  top: 1.5rem;
  z-index: 1;
}

h1 {
  display: inline-block;
  color: whitesmoke;
  font-family: 'Birthstone Bounce', cursive;
  font-weight: 400;
  font-size: 2rem;
  text-align: right;
  margin: auto;
  margin-right: 0.5rem;
  width: 100%;
  opacity: 0.8;
  background-blend-mode: color-burn;
}

section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  overflow-y: auto;
}

.card {
  position: relative;
  height: max-content;
  justify-content: center;
}

.card div {
  z-index: 5;
  position: absolute;
  top: 1.5rem;
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: max-content;
  width: 40vw;
  margin-left: 1.5rem;
  background-color: hsla(0, 0%, 0%, 0.8);
  background-blend-mode: multiply;
  border-radius: 0.5rem;
}

.card p {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 0.5rem;
}

.card img {
  object-fit: contain;
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2rem;
  z-index: -5;
}

footer {
  display: block;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.4);
}

.kudos-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
}

.kudos-title {
  font-family: 'Mr Dafoe', cursive;
  font-weight: 400;
  font-size: 1.2rem;
}

.kudos-list li {
  list-style: none;
  font-size: 1rem;
  padding: 0.2rem;
  margin: 0.25rem;
  background-color:hsla(0, 0%, 100%, 0.2);
  background-clip: padding-box;
  border-radius: 5px;
}

@media only screen and (max-width: 450px) {
  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: max-content;
    justify-content: space-evenly;
    width: 100%;
  }
  .card div {
    display: block;
    position: static;
    width: 100%;
    margin: auto;
    z-index: 0;
    text-align: center;
  }
  .card img {
    position: relative;
    z-index: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .content-wrap {
    max-width: 900px;
    margin: auto;
  }
  .kudos-wrap {
    flex-direction: row;
    vertical-align: middle;
    justify-content: center;
    margin: auto;
  }
  .kudos-title {
    text-align: right;
    margin: auto 3rem auto 3rem;
    font-size: xx-large;
  }
  .kudos-list {
    text-align: left;
    margin: auto 1rem auto 0;
    flex-grow: 1;
  }
  .kudos-list li {
    padding: 0.2rem 0.7rem;
  }
}

@media only screen and (min-width: 800px) {
  .card div {
    position: absolute;
    left: 2.5rem;
    max-width: 26rem;
  }
  .card img {
    max-width: 800px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

