@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500&display=swap');

a {
  color: hsl(290, 60%, 80%);
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: hsl(290, 50%, 90%);
  cursor: pointer;
}

a:hover {
  color: hsl(290, 90%, 70%);
  cursor: pointer;
}

h1 a, a:visited, a:hover {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}

h2 {
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 2rem;
  color: #FFF;
  margin: 1rem;
  text-align: center;
}

.big-link {
  display: block;
  margin: 1rem auto;
  text-align: center;
  font-size: 2rem;
}